<header>
    <nav class="navbar navbar-dark">
        <div class="container">
            <!-- Nombre del sitio -->
            <a class="navbar-brand nombre-pagina" href="/api">Mundo Superhéroes</a>
            <!-- Enlaces -->
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/api">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/heroes">Lista de Superhéroes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/heroes/insertar">Agregar Superhéroe</a>
                </li>
            </ul>
        </div>
    </nav>
</header>